<html>
  <body>
    <table id="main-table" cellpadding="0" cellspacing="0" frame="box" width="650" align="center" style="padding-left: 0.15%; padding-right: 0.3%; padding-top: 0.3%; background-color: rgb(255, 255, 255);">
        <tbody>
          <!-- HEADER -->
          <!-- DO NOT TOUCH UNLESS NEEDED (with the exception of month & year) -->
          <tr>
            <td>
              <table>
                <tbody>
                  <tr>
                    <!-- HAMMER THEATRE LOGO ON THE LEFT -->
                    <td width="45%">
                      <a href="http://www.sjsu.edu/hammertheatre/" title="Hammer Theatre Page" target="_blank">
                        <img style="padding-left: 5px;" width="75%" src="https://multimedia.getresponse.com/getresponse-Siog/photos/581053502.png?_ga=2.135233464.887069144.1501529007-1047026546.1498158113" alt="Hammer Theater Logo">
                      </a>
                    </td>
                    <!-- MONTH & YEAR INFO ON THE RIGHT -->
                    <td width="55%" valign="bottom" style="text-align:right">
                      <span style="color:#2857B5; font-family: Helvetica; font-size: 25px;">



                        <!-- CHANGE THIS DEPENDING ON MONTH AND YEAR-->
                        <span style="text-decoration: none;">
                          <div>
                            Month Year
                          </div>
                          NEWSLETTER
                        </span>



                      </span>                             
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <!-- APPLAUSE LOGO -->
          <!-- DO NOT TOUCH UNLESS NEEDED -->
          <tr>
            <td>
              <a href="http://www.sjsu.edu/hammertheatre/" title="Hammer Theatre Page" target="_blank">
                <img style="padding-left: 4px;" width="98.7%" src="https://multimedia.getresponse.com/getresponse-Siog/photos/610814602.png?_ga=2.27589492.959521055.1509568970-1137881523.1505944160" alt="Applause Newsletter Logo">
              </a>
            </td>
          </tr>

          <tr>
            <td>
              <table>
                <tbody>
                  <tr>
                    <!-- LEFT-HAND SIDE EVENTS -->
                    <td id="left-col" width="60%" valign="top">
                      <div id="hammer-events-table">
                        <table>
                          <tbody>
                            
                            <!-- EVENTS -->
                            <!-- FIRST EVENT -->
                            <tr>
                              <td style="padding:0;">
                                <!-- GRAY BACKGROUND BORDER SPECIFIC TO FIRST EVENT -->
                                <div class="img-frame" style="
                                                                    background: #DEDFE1;
                                                                    /* For browsers that do not support gradients */
                                                                    background: -webkit-linear-gradient(#DEDFE1, white, white);
                                                                    /* For Safari 5.1 to 6.0 */
                                                                    background: -o-linear-gradient(#DEDFE1, white, white);
                                                                    /* For Opera 11.1 to 12.0 */
                                                                    background: -moz-linear-gradient(#DEDFE1, white, white);
                                                                    /* For Firefox 3.6 to 15 */
                                                                    background: linear-gradient(#DEDFE1, white, white);
                                                                     /* Standard syntax (must be last) */
                                                                     /* set padding to simulate border */
                                                                     padding-top: 3%;
                                                                     padding-right: 4%;
                                                                     padding-bottom: 0px; padding-left: 4%;
                                                                     margin: 0;">
                                  <p class="img-frame-title" style="text-decoration:none; padding:0; margin-bottom:10px; margin-top: 10px; font-size: 20px; font-family: Helvetica">
                                    Hammer Events
                                  </p>
                                  <a class="img-frame-anchor" href="http://hammertheatre.com/shakespeare-fest/" title="Shakespeare series page" target="_blank" style="color: inherit; text-decoration: none; font-size: 20px; font-family: Helvetica">



                                    <!-- MAKE CHANGES HERE WHERE NECESSARY -->
                                    <!-- FIRST EVENT IMAGE -->
                                    <img class="article-image" width="100%" src="http://via.placeholder.com/670x360" alt="Event Page" style="bottom: 0; width: 100%;">
                                  </a>
                                </div>
                              </td>
                            </tr>

                            <!-- FIRST EVENT TITLE -->
                            <tr>
                              <td>
                                <span class="title" style="font-family: Helvetica; font-weight: bold; font-size: 16px; margin-left: 4%;">
                                  
                                </span>
                              </td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
    </table>
  </body>
</html>